<main class="h-screen w-full flex flex-row items-center justify-evenly">
  <div class="flex flex-col gap-10 w-[500px]">
    <div>
      <h1 class="text-4xl tracking-wide ">Welcome Back!</h1>
      <span>Don’t have a account, Sign up</span>
    </div>
    <div>
      <form action="" class="flex flex-col gap-4">
        <app-text-inputs type="email" placeholder="email" id="email"></app-text-inputs>
        <app-text-inputs type="password" placeholder="password" id="password"></app-text-inputs>
        <button class="bg-primary hover:bg-secondary duration-150 font-bold text-white rounded-2xl p-4">Login</button>
      </form>
    </div>
  </div>
  <div>
    <iframe src="https://giphy.com/embed/Cmr1OMJ2FN0B2" width="480" height="480" frameBorder="0" class="giphy-embed rounded-2xl" allowFullScreen></iframe>
  </div>
</main>
