<main class="h-screen w-full flex flex-row items-center justify-evenly">
  <div class="flex flex-col gap-10 w-[500px]">
    <div>
      <h1 class="text-4xl tracking-wide ">Welcome Back!</h1>
      <span>Don’t have a account, Sign up</span>
    </div>
    <div>
      <form action="" class="flex flex-col gap-4">
        <input id="email" type="text" placeholder="Email" class="rounded-full p-4 bg-secondary-50 border-2 border-white focus:outline-none focus:border-primary focus:border-2">
        <input type="password" placeholder="Password" class="rounded-full p-4 bg-secondary-50 border-2 border-white focus:outline-none focus:border-primary focus:border-2">
        <button class="bg-primary font-bold text-white rounded-2xl p-4">Login</button>
      </form>
    </div>
  </div>
  <div>
    <iframe src="https://giphy.com/embed/Cmr1OMJ2FN0B2" width="480" height="480" frameBorder="0" class="giphy-embed rounded-2xl" allowFullScreen></iframe>
  </div>
</main>
