<div class="w-full bg-secondary-50 {{answer? '':  roundedBottom ? 'rounded-3xl' : 'rounded-t-3xl'}} py-5 px-7 flex flex-col gap-y-3 " (click)="goToDetail()">
  <div class="flex flex-row justify-between text-secondary font-bold items-center">
    <div class="flex flex-row items-center gap-x-3">
      <img src="assets/profile.svg" alt="" class="w-10 h-10 rounded-full ">
      <span >{{post.author.username}}</span>
    </div>
    <div>
      {{ post.date.toString() | customDatePipe }}
    </div>
  </div>
  <div *ngIf="!answer || !post.content" class="text-secondary font-thin text-sm px-5" appCopy>
    {{post.content}}
  </div>
  <div>
    <img *ngIf="post?.media_url !== null" src="{{post.media_url}}" alt="" class="w-full rounded-3xl object-cover object-center ">
  </div>
  <div *ngIf="!answer" class=" flex justify-between">
    <div class="flex flex-row items-center gap-x-3 hover:bg-primary-300 duration-150 rounded-full p-2">
      <img src="assets/like.svg" alt="" class="w-5 h-5">
      <span class="text-secondary font-bold">1.2k</span>
    </div>
    <div class="flex flex-row items-center gap-x-3 hover:bg-primary-300 duration-150 rounded-full p-2">
      <img src="assets/comment.svg" alt="" class="w-5 h-5">
      <span class="text-secondary font-bold">1.2k</span>
    </div>
    <div class="flex flex-row items-center gap-x-3 hover:bg-primary-300 duration-150 rounded-full p-2">
      <img src="assets/share.svg" alt="" class="w-5 h-5 ">
      <span class="text-secondary font-bold">1.2k</span>
    </div>
  </div>
</div>
