<div class="flex flex-col divide-y divide-gray-400">
  <app-feed [roundedBottom]="false"></app-feed>
  <div class="flex flex-col  bg-secondary-50 gap-y-4 p-4">
    <div class="flex flex-row gap-x-3 items-center font-bold text-secondary">
      <img src="assets/profile.svg" width="70px" alt="">
      <div>
        Poster une réponse ?
      </div>
    </div>
    <app-search-meme></app-search-meme>
    <div class="flex justify-end">
      <button class="bg-primary text-white rounded-full px-4 py-2 font-bold">Poster</button>
    </div>
  </div>
  <div >
    <div class="bg-secondary-50 w-full">All Answers</div>
    <div class="flex flex-col divide-gray-400 divide-y">
      <app-feed [answer]="true"></app-feed>
      <app-feed [answer]="true"></app-feed>
      <app-feed [answer]="true"></app-feed>
      <app-feed [answer]="true"></app-feed>
    </div>
  </div>
</div>
