 <div class="flex flex-col py-16 h-full items-center">
    <div class="flex flex-col gap-y-20">
      <div class="title">
        <h1 class="text-4xl">
          <span class="text-secondary">Only</span><span class="text-primary">Meme</span>
        </h1>
      </div>
      <nav>
        <ul class="flex flex-col gap-y-4" >
          <app-list-icons icon="assets/home.svg" alt="home" title="Home" link="/home"></app-list-icons>
          <app-list-icons icon="assets/fire.svg" alt="for you" title="Upload" link="/upload"></app-list-icons>
          <app-list-icons icon="assets/bell.svg" alt="Notification" title="Notification" link="/notification"></app-list-icons>
          <app-list-icons icon="assets/signet.svg" alt="Signet" title="Signet" link="signet"></app-list-icons>
          <app-list-icons icon="assets/profile.svg" alt="Profile" title="Profile" link="profile"></app-list-icons>
          <app-meme-button></app-meme-button>
        </ul>
      </nav>

    </div>
  </div>

