<div class="z-30 absolute w-full bg-white h-[200px] grid gap-3 overflow-y-auto grid-cols-3 py-4 px-2  ">
  <div>
    <img src="assets/img.png">
  </div>  <div>
  <img src="assets/img.png">
</div>  <div>
  <img src="assets/img.png">
</div>  <div>
  <img src="assets/img.png">
</div>  <div>
  <img src="assets/img.png">
</div>
  <div>
    <img src="assets/img.png">
  </div><div>
  <img src="assets/img.png">
</div><div>
  <img src="assets/img.png">
</div><div>
  <img src="assets/img.png">
</div><div>
  <img src="assets/img.png">
</div>
</div>
